{% extends "base.html" %}

{% block content %}
<div class="post">
<h1>{{ object.title }}</h1>
{% if object.image %}
<a href="/{{ object.image }}"><img src="/{{ object.image }}" /></a>
{% endif %}
<div>{{ object.body|safe }}</div>
<br style="clear:right;" />

<div class="tags">
{% for tag in object.assoc_tags.all %}
<span><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></span>
{% endfor %}
</div>

<div class="date">
<span>&mdash;{{ object.author }}, {{ object.date|timesince }} ago</span>
</div>

</div>
{% endblock %}
